@charset "UTF-8";
/*como variables es lo primero que importamos... inicializamos todos los selectores */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Fuente explusiva para las palabras SMART y GO*/
@font-face {
  font-family: 'generica';
  src: url("../fonts/generica/GenericaBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-strecht: condensed;
  unicode-range: "U+0-10FFFF";
}

/*Creando funciones*/
@-webkit-keyframes arrowMove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
@keyframes arrowMove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 40%;
  }
  20% {
    -webkit-transform: rotate(135deg) translateX(-10px);
            transform: rotate(135deg) translateX(-10px);
    left: 35%;
  }
  40% {
    -webkit-transform: rotate(495deg) translateX(-10px);
            transform: rotate(495deg) translateX(-10px);
    left: 30%;
  }
  60% {
    -webkit-transform: rotate(1035deg) translateX(-10px);
            transform: rotate(1035deg) translateX(-10px);
    left: 30%;
  }
  80% {
    -webkit-transform: rotate(2555deg) translateX(-10px);
            transform: rotate(2555deg) translateX(-10px);
    left: 30%;
  }
  87% {
    -webkit-transform: rotate(4075deg) translateX(-10px);
            transform: rotate(4075deg) translateX(-10px);
    left: 30%;
    bottom: 0;
  }
  91% {
    -webkit-transform: rotate(5595deg) translateX(-10px) scale(0.8);
            transform: rotate(5595deg) translateX(-10px) scale(0.8);
    left: 10%;
    bottom: 40%;
  }
  94% {
    -webkit-transform: rotate(7115deg) translateX(-10px) scale(0.6);
            transform: rotate(7115deg) translateX(-10px) scale(0.6);
    left: 25%;
    bottom: 60%;
  }
  97% {
    -webkit-transform: rotate(8635deg) translateX(0px) scale(0.4);
            transform: rotate(8635deg) translateX(0px) scale(0.4);
    left: 40%;
    bottom: 50%;
  }
  99% {
    -webkit-transform: rotate(10155deg) scale(0.2);
            transform: rotate(10155deg) scale(0.2);
    left: 50%;
    bottom: 45%;
  }
  100% {
    display: none;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 40%;
  }
  20% {
    -webkit-transform: rotate(135deg) translateX(-10px);
            transform: rotate(135deg) translateX(-10px);
    left: 35%;
  }
  40% {
    -webkit-transform: rotate(495deg) translateX(-10px);
            transform: rotate(495deg) translateX(-10px);
    left: 30%;
  }
  60% {
    -webkit-transform: rotate(1035deg) translateX(-10px);
            transform: rotate(1035deg) translateX(-10px);
    left: 30%;
  }
  80% {
    -webkit-transform: rotate(2555deg) translateX(-10px);
            transform: rotate(2555deg) translateX(-10px);
    left: 30%;
  }
  87% {
    -webkit-transform: rotate(4075deg) translateX(-10px);
            transform: rotate(4075deg) translateX(-10px);
    left: 30%;
    bottom: 0;
  }
  91% {
    -webkit-transform: rotate(5595deg) translateX(-10px) scale(0.8);
            transform: rotate(5595deg) translateX(-10px) scale(0.8);
    left: 10%;
    bottom: 40%;
  }
  94% {
    -webkit-transform: rotate(7115deg) translateX(-10px) scale(0.6);
            transform: rotate(7115deg) translateX(-10px) scale(0.6);
    left: 25%;
    bottom: 60%;
  }
  97% {
    -webkit-transform: rotate(8635deg) translateX(0px) scale(0.4);
            transform: rotate(8635deg) translateX(0px) scale(0.4);
    left: 40%;
    bottom: 50%;
  }
  99% {
    -webkit-transform: rotate(10155deg) scale(0.2);
            transform: rotate(10155deg) scale(0.2);
    left: 50%;
    bottom: 45%;
  }
  100% {
    display: none;
  }
}

@-webkit-keyframes pikachu {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }
}

@keyframes pikachu {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }
}

@-webkit-keyframes pikachu-s {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80vw);
            transform: translateX(-80vw);
  }
}

@keyframes pikachu-s {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80vw);
            transform: translateX(-80vw);
  }
}

@-webkit-keyframes pikachu-m {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-90vw);
            transform: translateX(-90vw);
  }
}

@keyframes pikachu-m {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-90vw);
            transform: translateX(-90vw);
  }
}

@-webkit-keyframes pikachu-l {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes pikachu-l {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes pikachu-xl {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-105vw);
            transform: translateX(-105vw);
  }
}

@keyframes pikachu-xl {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-105vw);
            transform: translateX(-105vw);
  }
}

@-webkit-keyframes footer {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes footer {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/*Creando las funciones de responsiveness*/
.home {
  height: 55vh;
  padding: 1rem;
  overflow-y: scroll;
}

.home__title {
  margin-bottom: 1rem;
}

.home__p {
  padding: 0.5rem;
}

.home__list {
  padding: 0.5rem;
  padding-left: 1.5rem;
  text-align: left;
  font-size: 0.9em;
  list-style-position: inside;
  font-weight: bold;
}

.home__list li {
  padding: 0.5rem 0;
}

.home__list span {
  font-weight: 400;
}

.spinner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  margin: 1rem auto;
}

.spinner__text {
  position: relative;
  top: 20%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 1;
  font-family: 'generica';
  font-size: 1.5em;
  -webkit-animation: changeColor 2s infinite linear;
          animation: changeColor 2s infinite linear;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.spinner__middle {
  position: absolute;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.spinner__item {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner__item.red {
  border-top: 77px solid red;
  border-right: 77px solid red;
  border-left: 77px solid transparent;
  border-bottom: 77px solid transparent;
  -webkit-animation: spinSpinner 2s infinite ease-in-out;
          animation: spinSpinner 2s infinite ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.spinner__item.white {
  border-left: 77px solid white;
  border-bottom: 77px solid white;
  border-top: 77px solid transparent;
  border-right: 77px solid transparent;
  -webkit-animation: spinSpinner 2s infinite ease-in-out;
          animation: spinSpinner 2s infinite ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes spinSpinner {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@keyframes spinSpinner {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@-webkit-keyframes changeColor {
  0% {
    color: #0BE6C5;
  }
  50% {
    color: #202020;
  }
  75% {
    color: #0BE6C5;
  }
  100% {
    color: #0BE6C5;
  }
}

@keyframes changeColor {
  0% {
    color: #0BE6C5;
  }
  50% {
    color: #202020;
  }
  75% {
    color: #0BE6C5;
  }
  100% {
    color: #0BE6C5;
  }
}

.page {
  padding: 1rem;
  margin: 1rem;
  height: 55vh;
  overflow-y: scroll;
  border: 6px double #0BE6C5;
  border-radius: 10px;
}

.page button {
  background-color: #202020;
  border-radius: 5px;
  border: 1px solid #0BE6C5;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  color: #0BE6C5;
  padding: 0.5rem;
  margin: 0.5rem;
}

.page button:hover {
  background-color: #0BE6C5;
  color: #202020;
}

.page ol {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
}

.page ol li {
  position: relative;
  display: inline-block;
}

.page ol li span {
  position: absolute;
  bottom: 0;
  left: 45%;
}

.page ol li img {
  width: 200px;
  height: 200px;
  border: 1px solid #0BE6C5;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.page ol li:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.details {
  margin-top: 1rem;
}

.details h3 {
  margin-bottom: 1rem;
}

.details button {
  background-color: #202020;
  border-radius: 5px;
  border: 1px solid #0BE6C5;
  font-size: 0.9em;
  font-weight: 700;
  cursor: pointer;
  color: #0BE6C5;
  padding: 0.3rem;
  margin: 0.3rem;
}

.details button:hover {
  background-color: #0BE6C5;
  color: #202020;
}

.stats {
  margin: 0.5rem 1rem;
  border-radius: 5px;
}

.stats ul {
  list-style: none;
  padding: 0.5rem;
}

.stats ul li {
  padding: 0.1rem;
}

.attackselection {
  cursor: pointer;
}

.attackselection fieldset {
  margin: 0.5rem 1rem;
  border-radius: 5px;
}

.attackselection fieldset ul {
  list-style: none;
  padding: 0.5rem;
}

.attackselection fieldset ul li {
  padding: 0.1rem;
}

.attackselection p {
  margin: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #0BE6C5;
  color: #202020;
}

.contenedor {
  width: 85vw;
  height: 35vh;
  overflow-y: hidden;
  overflow-x: auto;
  border: 6px double #0BE6C5;
  border-radius: 10px;
  margin: 1rem 2rem;
}

.details__combo {
  width: auto;
  height: 20vh;
}

table {
  font-size: 1em;
  width: 800px;
  height: 20vh;
  padding: 0.2rem;
  margin: 0 0.5rem;
  border: 1px solid #0BE6C5;
  border-radius: 5px;
}

table caption {
  font-weight: 700;
  font-size: 1.4em;
  text-align: left;
  padding: 0.5rem 1rem;
}

.tabla__fila1 {
  border-bottom: 1px solid #0BE6C5;
}

.time {
  border: 1px solid #0BE6C5;
  font-weight: 700;
  font-size: 1.1em;
}

.logo {
  height: 20vh;
  width: 96vw;
  margin-top: 9vh;
  background-image: url("../images/logoSmartPokemonGo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: imagen 7s  ease-in-out;
          animation: imagen 7s  ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6vh;
  background-color: #0be6c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* estilo al componente menu*/
.menu {
  width: 38vw;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu ul {
  background-color: #0be6c5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1rem;
}

.menu ul a {
  text-decoration: none;
  color: #202020;
}

.menu ul a:hover {
  font-size: 1.1em;
}

.menu ul a:hover > li {
  background-color: #25f5d5;
}

.menu ul a > li {
  list-style: none;
  padding: 0.5rem;
  text-align: left;
}

.menu.open {
  display: relative;
  z-index: 1;
  -webkit-transform: translateY(145px);
          transform: translateY(145px);
  margin-left: 0rem;
}

.menu.open ul {
  display: relative;
  padding: 3rem 1rem 1rem 1rem;
}

.menu.open ul a {
  text-decoration: none;
  color: #202020;
}

.menu.open ul a:hover {
  font-size: 1.1em;
}

.menu.open ul a:hover > li {
  background-color: #25f5d5;
}

.menu.open ul a > li {
  list-style: none;
  padding: 0.5rem;
  text-align: left;
}

.boton {
  position: fixed;
  left: 3rem;
  top: 0.3rem;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3a3a3a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.boton.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow {
  position: relative;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
  border-top: 5px solid #0BE6C5;
  margin: auto;
}

.arrow.first {
  opacity: 1;
  top: 5px;
}

.arrow.second {
  opacity: 0;
  top: -5px;
}

.arrow.third {
  opacity: 0;
  top: -15px;
}

.boton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.boton:hover .arrow.first {
  -webkit-animation: arrowMove 2.1s infinite ease;
          animation: arrowMove 2.1s infinite ease;
}

.boton:hover .arrow.second {
  -webkit-animation: arrowMove 2.1s infinite ease;
          animation: arrowMove 2.1s infinite ease;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.boton:hover .arrow.third {
  -webkit-animation: arrowMove 2.1s infinite ease;
          animation: arrowMove 2.1s infinite ease;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.boton.open:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.boton.open:hover .arrow.first {
  -webkit-animation: arrowMove 2.1s infinite ease;
          animation: arrowMove 2.1s infinite ease;
}

.boton.open:hover .arrow.second {
  -webkit-animation: arrowMove 2.1s infinite ease;
          animation: arrowMove 2.1s infinite ease;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.boton.open:hover .arrow.third {
  -webkit-animation: arrowMove 2.1s infinite ease;
          animation: arrowMove 2.1s infinite ease;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.language {
  position: absolute;
  top: 0.6rem;
  right: 2rem;
  border-radius: 5px;
  background-color: #a9fbee;
  font-weight: 700;
  border: 3px solid #3a3a3a;
  cursor: pointer;
}

.language option {
  background-color: white;
}

@-webkit-keyframes imagen {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes imagen {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*como variables es lo primero que importamos... inicializamos todos los selectores */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Fuente explusiva para las palabras SMART y GO*/
@font-face {
  font-family: 'generica';
  src: url("../fonts/generica/GenericaBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-strecht: condensed;
  unicode-range: "U+0-10FFFF";
}

/*Creando funciones*/
@keyframes arrowMove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 40%;
  }
  20% {
    -webkit-transform: rotate(135deg) translateX(-10px);
            transform: rotate(135deg) translateX(-10px);
    left: 35%;
  }
  40% {
    -webkit-transform: rotate(495deg) translateX(-10px);
            transform: rotate(495deg) translateX(-10px);
    left: 30%;
  }
  60% {
    -webkit-transform: rotate(1035deg) translateX(-10px);
            transform: rotate(1035deg) translateX(-10px);
    left: 30%;
  }
  80% {
    -webkit-transform: rotate(2555deg) translateX(-10px);
            transform: rotate(2555deg) translateX(-10px);
    left: 30%;
  }
  87% {
    -webkit-transform: rotate(4075deg) translateX(-10px);
            transform: rotate(4075deg) translateX(-10px);
    left: 30%;
    bottom: 0;
  }
  91% {
    -webkit-transform: rotate(5595deg) translateX(-10px) scale(0.8);
            transform: rotate(5595deg) translateX(-10px) scale(0.8);
    left: 10%;
    bottom: 40%;
  }
  94% {
    -webkit-transform: rotate(7115deg) translateX(-10px) scale(0.6);
            transform: rotate(7115deg) translateX(-10px) scale(0.6);
    left: 25%;
    bottom: 60%;
  }
  97% {
    -webkit-transform: rotate(8635deg) translateX(0px) scale(0.4);
            transform: rotate(8635deg) translateX(0px) scale(0.4);
    left: 40%;
    bottom: 50%;
  }
  99% {
    -webkit-transform: rotate(10155deg) scale(0.2);
            transform: rotate(10155deg) scale(0.2);
    left: 50%;
    bottom: 45%;
  }
  100% {
    display: none;
  }
}

@keyframes pikachu {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60vw);
            transform: translateX(-60vw);
  }
}

@keyframes pikachu-s {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-80vw);
            transform: translateX(-80vw);
  }
}

@keyframes pikachu-m {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-90vw);
            transform: translateX(-90vw);
  }
}

@keyframes pikachu-l {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes pikachu-xl {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-105vw);
            transform: translateX(-105vw);
  }
}

@keyframes footer {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

/*Creando las funciones de responsiveness*/
.animacion {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  margin: 1rem auto;
  -webkit-animation: spin 4s linear;
          animation: spin 4s linear;
}

.animacion__middle {
  position: absolute;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.animacion__item {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.animacion__item.red {
  border-top: 77px solid red;
  border-right: 77px solid red;
  border-left: 77px solid transparent;
  border-bottom: 77px solid transparent;
}

.animacion__item.white {
  border-left: 77px solid white;
  border-bottom: 77px solid white;
  border-top: 77px solid transparent;
  border-right: 77px solid transparent;
}

.pikachu {
  position: fixed;
  top: 40%;
  right: -60%;
  width: 140px;
  height: 140px;
  background-image: url("../images/Pikachutransparente.png");
  background-size: contain;
  -webkit-animation: pikachu 3s  ease-in-out;
          animation: pikachu 3s  ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

footer {
  visibility: hidden;
  -webkit-animation: footer 5s ease-in-out;
          animation: footer 5s ease-in-out;
}

.buscar__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
  border-radius: 5px;
  border-color: #0BE6C5;
  margin: 0 1rem;
}

#pokemons > option {
  background-color: green;
  width: 50%;
}

legend {
  font-weight: 700;
}

.buscar__boton {
  background-color: #202020;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #0BE6C5;
  border-left: transparent;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  color: #0BE6C5;
  padding: 0.5rem;
}

.buscar__boton:hover {
  background-color: #0BE6C5;
  color: #202020;
}

.buscar__text {
  display: absolute;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #0BE6C5;
  border-right: transparent;
  font-size: 1em;
  padding: 0.5rem;
}

nav {
  position: relative;
  top: 0;
  -webkit-animation: destellorequires 6s ease-in-out;
          animation: destellorequires 6s ease-in-out;
}

nav::after {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
  -webkit-animation: destello 2s ease-in-out;
          animation: destello 2s ease-in-out;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes destello {
  0% {
    -webkit-transform: translateY(-129vh);
            transform: translateY(-129vh);
    opacity: 1;
    visibility: visible;
    height: 300%;
  }
  99% {
    -webkit-transform: translateY(-129vh);
            transform: translateY(-129vh);
    opacity: 0;
    visibility: visible;
    height: 300%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
}

@keyframes destello {
  0% {
    -webkit-transform: translateY(-129vh);
            transform: translateY(-129vh);
    opacity: 1;
    visibility: visible;
    height: 300%;
  }
  99% {
    -webkit-transform: translateY(-129vh);
            transform: translateY(-129vh);
    opacity: 0;
    visibility: visible;
    height: 300%;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
}

@-webkit-keyframes destellorequires {
  0% {
    width: 100vw;
    height: 100vh;
    margin-bottom: -85vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    margin-bottom: -85vh;
  }
}

@keyframes destellorequires {
  0% {
    width: 100vw;
    height: 100vh;
    margin-bottom: -85vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    margin-bottom: -85vh;
  }
}

.about {
  height: 55vh;
  padding: 1rem;
  overflow-y: scroll;
}

.about__text {
  padding: 0.5rem;
}

.about__text__part h3 {
  font-size: 1.4em;
}

.about__text__part p {
  padding: 0.5rem;
}

.about__text__part p a {
  color: #0BE6C5;
  padding: 0 1rem;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.about__text__part p a:hover {
  color: #47f6dc;
  font-size: 1.1em;
}

body {
  background-color: #202020;
  color: #0BE6C5;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  width: 90vw;
}

/*Por defecto, los estilos se hacen para los móvildes width <400px*/
/*Ahora si el movil es de gama media tamaño s 400<width<768*/
@media screen and (min-width: 400px) {
  .pikachu {
    -webkit-animation: pikachu-s 3s  ease-in-out;
            animation: pikachu-s 3s  ease-in-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .home {
    overflow-y: visible;
  }
  .home__title {
    font-size: 2.2em;
  }
  .home__p {
    font-size: 1.1em;
  }
  .home__list {
    font-size: 1em;
    padding: 0 3rem;
  }
  .about {
    overflow: visible;
  }
  .about__text {
    padding: 1rem;
  }
  .about__text__part {
    padding: 0 1rem;
  }
  .about__text__part h3 {
    font-size: 1.4em;
  }
  .about__text__part p {
    padding: 0.5rem 1rem;
    text-align: justify;
  }
  .contenedor {
    height: 30vh;
  }
}

/*tamaño m 768<width<1080*/
@media screen and (min-width: 768px) {
  .language {
    padding: 4px 8px;
    font-size: 0.85em;
    top: 0.6rem;
    right: 2rem;
  }
  .boton {
    display: none;
  }
  .menu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 8vh;
    width: 70%;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 8vh;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem;
  }
  .menu ul > a {
    font-weight: 700;
  }
  .menu ul > a li {
    border: 1px solid #202020;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .menu.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu.open ul {
    padding: 0.5rem;
  }
  .pikachu {
    -webkit-animation: pikachu-m 3s  ease-in-out;
            animation: pikachu-m 3s  ease-in-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bulbasaurCharmander {
    position: relative;
    left: -33%;
    height: 20vh;
    width: 96vw;
    margin-top: 9vh;
    background-image: url("../images/bulbasaurCharmander.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .squirtlePikachu {
    position: relative;
    top: -29vh;
    right: -33%;
    height: 20vh;
    width: 96vw;
    margin-top: 9vh;
    background-image: url("../images/squirtlePikachu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .home__list {
    padding: 0 5rem;
  }
  .about__text {
    padding: 0 2rem;
  }
  .about__text__part {
    padding: 0 4rem;
  }
  .about__text__part h3 {
    font-size: 1.4em;
  }
  .about__text__part p {
    padding: 0.5rem 1.5rem;
    text-align: justify;
  }
  .contenedor {
    width: 90vw;
    height: 35vh;
    padding: 1rem 2rem;
  }
  table caption {
    text-align: center;
  }
}

/*tamaño l 1080<width<1500*/
@media screen and (min-width: 1080px) {
  .menu a {
    font-size: 1.2em;
  }
  .language {
    font-size: 1.1em;
    top: 0.5rem;
  }
  .pikachu {
    -webkit-animation: pikachu-l 3s  ease-in-out;
            animation: pikachu-l 3s  ease-in-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .home__title {
    font-size: 2.4em;
  }
  .home__p {
    font-size: 1.2em;
  }
  .home__list {
    font-size: 1.1em;
    padding: 0 8rem;
  }
  .about__text {
    padding: 0 3rem;
  }
  .about__text__part {
    padding: 0 5rem;
  }
  .about__text__part h3 {
    font-size: 1.6em;
  }
  .about__text__part p {
    padding: 0.5rem 1.5rem;
    font-size: 1.1em;
    text-align: justify;
  }
  .contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    height: 30vh;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  table {
    margin: 0;
    padding: 0;
  }
  table caption {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

/*tamaño xl 1500<width*/
@media screen and (min-width: 1500px) {
  .buscar__boton {
    font-size: 1.2em;
  }
  .buscar__text {
    font-size: 1.2em;
  }
  .pikachu {
    -webkit-animation: pikachu-xl 3s  ease-in-out;
            animation: pikachu-xl 3s  ease-in-out;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .home__title {
    font-size: 2.7em;
  }
  .home__p {
    font-size: 1.4em;
  }
  .home__list {
    font-size: 1.2em;
    padding: 0 12rem;
  }
  .about__text__part p {
    padding: 0.5rem 1.5rem;
    font-size: 1.2em;
    text-align: justify;
  }
  .contenedor {
    width: 95vw;
  }
}
/*# sourceMappingURL=main.css.map */