.home{
    height: 55vh;
    padding: 1rem;
    overflow-y: scroll;
    
    &__title{
        margin-bottom: 1rem;
    }
    &__p{
        padding:0.5rem;
    }
    &__list{
        padding: 0.5rem;
        padding-left: 1.5rem;
        text-align: left;
        font-size: 0.9em;
        list-style-position: inside;
        font-weight: bold;
        li {
            padding:0.5rem 0;
        }
        span {
            font-weight: 400;
        }
    }
}
