.spinner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 1rem auto;
    &__text{
        position: relative;
        top: 20%;
        align-self: flex-start;
        z-index: 1;
        font-family: 'generica';
        font-size: 1.5em;
        animation: changeColor 2s infinite linear;
        animation-delay: 0.5s;
    }
    &__middle {
        position: absolute;
        background-color: white;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    &__item {
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
       
        &.red {
            border-top: 77px solid red;
            border-right: 77px solid red;
            border-left: 77px solid transparent;
            border-bottom: 77px solid transparent;
            animation: spinSpinner 2s infinite ease-in-out;
            animation-delay: 0.5s;
        }
       
        &.white {
            border-left: 77px solid white;
            border-bottom: 77px solid white;
            border-top: 77px solid transparent;
            border-right: 77px solid transparent;
            animation: spinSpinner 2s infinite ease-in-out;
            animation-delay: 0.5s;
        }
    }
    
}

@keyframes spinSpinner {
    0% { transform: rotate(-45deg);}
    100% { transform: rotate( 315deg);} 
}

@keyframes changeColor {
    0% { color: $primarylight;}
    50% { color: $primarydark;} 
    75% {color: $primarylight;} 
    100% { color: $primarylight;}
}