@import './variables';
@import './home';
@import './spinner';
@import './page';
@import './details';
@import './responsive';

body {
    background-color: $primarydark;
    color: $primarylight;
    text-align: center;
   
}

